@import url('https://fonts.cdnfonts.com/css/akrobat');



body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Akrobat', sans-serif;
}

.btn {
    display: inline-block;
    background-color: 95C11F;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}