@import url('https://fonts.cdnfonts.com/css/akrobat');



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2,
h3,
h4 {
    font-family: 'Akrobat', sans-serif;
}

.btn {
    display: inline-block;
    background-color: 95C11F;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.logo-img {
    height: 70px;
}


.logo-1 {
    margin: 24px;
    width: 100px;
    height: 40px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

h3 {
    margin-top: 50px;
    margin-bottom: 25px;
}

ol,
li {
    list-style: none;
}